
<% provide(:title, "Choisir un nouveau mot de passe") %>

<div class="row">
    
        <div class="col-lg-12" >
     
           <div align="center">


<%= form_for @author, :url => password_reset_path(@author), :html => {:method => :put} do |f| %>
  <% if @author.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@author.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @author.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :username %><br />
    <%= @author.username %>
  </div>
  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password %>
  </div>
  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation %>
    <%= hidden_field_tag :token, @token %>
  </div>
  <div class="actions">
    <%= f.submit "valider" %>
  </div>
<% end %>


   </div>
 </div>
</div>   

