<% provide(:title, "Filtre invitation") %>


<!-- ----------------------------------------------------------------------------------------  -->


<% @invitations2.each do |t| %>



 <% jour=t.dateinvitation.strftime("%A") %>  

  <% mois=t.dateinvitation.strftime("%B")  %>

<% case jour  %>
 <% when "Monday"  %>
 <%  jour= "Lundi" %> 
 <% when "Tuesday"  %>
 <%  jour= "Mardi" %> 
<% when "Wednesday"  %>
 <%  jour= "Mercredi" %>
  <% when "Thursday"  %>
 <%  jour= "Jeudi" %>
  <% when "Friday"  %>
 <%  jour= "Vendredi" %>
  <% when "Saturday"  %>
 <%  jour= "Samedi" %> 
  <% when "Sunday"  %>
 <%  jour= "Dimanche" %> 
<% else  %>              
 <% puts 'Only single-digit numbers are allowed' %>
 <% end %>

 <% case mois  %>
 <% when "January"  %>
 <%  mois= "Janvier" %> 
 <% when "February"  %>
 <%  mois= "Février" %> 
<% when "March"  %>
 <%  mois= "Mars" %>
  <% when "April"  %>
 <%  mois= "Avril" %>
  <% when "May"  %>
 <%  mois= "Mai" %>
  <% when "June"  %>
 <%  mois= "Juin" %>
  <% when "July"  %>
 <%  mois= "Juillet" %>
  <% when "August"  %>
 <%  mois= "Aout" %>
  <% when "September"  %>
 <%  mois= "Septembre" %>
  <% when "October"  %>
 <%  mois= "Octobre" %>
   <% when "November"  %>
 <%  mois= "Novembre" %>
  <% when "December"  %>
 <%  mois= "Décembre" %>
<% else  %>              
 
 <% end %>


<% var=t.avatar.url %>

<% var[0,23] = "https://s3-eu-west-1.amazonaws.com" %>



 

   <div class="row" >



<div  class="col-xs-12 col-sm-6 col-md-3 col-lg-3  " >

  





    <div  class="invitation hidden-xs" style="background:white;">

         
         
  


          <a href="<%=  invitation_path(t.id) %>">
          <div class="vignette"><img src="<%= var %>" alt="arobas" style="width:100%; border-radius:5px 5px 5px 5px;" /></div>
          </a>

          
           <div align="center">


             <div class="titre_vignette">  <%=  t.titre %>  </div>
            <div> <%= jour %>  <%= t.dateinvitation.day %>  <%= mois %>  à <%= t.dateinvitation.hour  %> H <%= t.dateinvitation.min  %></div>
            <div><font color="red"> Invitation restante:  <%= t.place %></font>  </div>

             <div >   <%= link_to 'Edit', edit_invitation_path(t) %> </div>

             <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>




             


           </div>


    </div>


    <!--   ------------------- Version mobile ---------------------------------------------------      -->


       <div  class="invitation hidden-sm hidden-md hidden-lg" style="background:white;">

         
         
  


          <a href="<%=  invitation_path(t.id) %>">
      <div class="vignette"><img src="<%= var %>" alt="arobas" style="width:auto;height:200px; border-radius:5px 5px 5px 5px;" /></div>
          </a>

          
           <div align="center">


             <div class="titre_vignette">  <%=  t.titre %>  </div>
             <%= jour %>  <%= t.dateinvitation.day %>  <%= mois %>  à <%= t.dateinvitation.hour  %> H <%= t.dateinvitation.min  %>
              <div >   <%= link_to 'Edit', edit_invitation_path(t) %> </div>

              <%= link_to 'Destroy', t, method: :delete, data: { confirm: 'Are you sure?' } %>




           </div>


    </div>




    <!-- ---------------------------------------------------------------------------------------------   -->







</div> 
   
</div>



   

<%  end  %>






</div>
<div>









