<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
    <body>


  
<% var2="http://billetgratuit.herokuapp.com/images/logo.png"  %>

<div class="container" style="width:500px;padding-right: 15px;padding-left: 15px;margin-right: auto;margin-left: auto;"   >


	                        <div style="background:background: none repeat scroll 0% 0% rgb(248, 248, 248);" >

                               
                                	
                                    <a href="http://billetgratuit.com">
                                   <img src="<%= var2 %>" alt="arobas" style="width:50%;" />
                                    </a>
                                
                                  
                                         
                              </div>


                               <div style="font-size: 24px;font-family: Arial,Verdana;text-decoration: none;color: rgb(79, 71, 71);margin-top:20px;text-align:center;margin-bottom:30px;padding-top:100px:padding-bottom:100px;" >

                               
                                	Nos dernières invitations 100% gratuites 
                                  
                                         
                              </div>
                         
                         
                              


	

    
        <div class="box"  style="background:background: none repeat scroll 0% 0% rgb(248, 248, 248);width:400px;margin-right:auto;margin-left:auto;" >


             <div class="row "  >

                
        <% @invitations.each do |t| %>

           <% if t.validation && Invitation.late(t.dateinvitation) %>


        <!--  switch et variable --> 

        <% jour=t.dateinvitation.strftime("%A") %>  

  <% mois=t.dateinvitation.strftime("%B")  %>

<% case jour  %>
 <% when "Monday"  %>
 <%  jour= "Lundi" %> 
 <% when "Tuesday"  %>
 <%  jour= "Mardi" %> 
<% when "Wednesday"  %>
 <%  jour= "Mercredi" %>
  <% when "Thursday"  %>
 <%  jour= "Jeudi" %>
  <% when "Friday"  %>
 <%  jour= "Vendredi" %>
  <% when "Saturday"  %>
 <%  jour= "Samedi" %> 
  <% when "Sunday"  %>
 <%  jour= "Dimanche" %> 
<% else  %>              
 <% puts 'Only single-digit numbers are allowed' %>
 <% end %>

 <% case mois  %>
 <% when "January"  %>
 <%  mois= "Janvier" %> 
 <% when "February"  %>
 <%  mois= "Février" %> 
<% when "March"  %>
 <%  mois= "Mars" %>
  <% when "April"  %>
 <%  mois= "Avril" %>
  <% when "May"  %>
 <%  mois= "Mai" %>
  <% when "June"  %>
 <%  mois= "Juin" %>
  <% when "July"  %>
 <%  mois= "Juillet" %>
  <% when "August"  %>
 <%  mois= "Aout" %>
  <% when "September"  %>
 <%  mois= "Septembre" %>
  <% when "October"  %>
 <%  mois= "Octobre" %>
   <% when "November"  %>
 <%  mois= "Novembre" %>
  <% when "December"  %>
 <%  mois= "Décembre" %>
<% else  %>              
 
 <% end %>


<% var=t.avatar.url %>

<% var[0,23] = "https://s3-eu-west-1.amazonaws.com" %>

<% resume=t.description %>
<% resume=resume[0...200]%>



 

   


        <!--  fin switch et variable -->

          

      
             <!--  -------------------------------- Invitations ---------------------------- --> 
               <div  class="col-xs-12 col-sm-12 col-md-6 col-lg-4 fondgris" style="text-align:left;height:500px;overflow:hidden;margin-bottom:10px;margin-top:20px;border:1px solid #e1e1e1;background:background: none repeat scroll 0% 0% rgb(248, 248, 248);"    >  <!-- debut premier div ---- -->
                  <div align="center">
                <!--  Version PC ------------------------------------------------------------------ -->
                
                         <div style="padding:20px;"> 
                                   <a href="http://billetgratuit.herokuapp.com/invitations/<%= t.id %>" style="text-decoration:none;">  
                                   <div  style="font-family: Helvetica Neue,Arial,sans-serif;color: rgb(104, 104, 104);text-align:left;font-size:24px;"> 
                                   
                                    <%=  t.titre %> 

                                                
                                    </div>
                                    </a>
                                    <div style="text-align:left;font-size:20px;">
                                                <%= jour %> 
                                                <%= t.dateinvitation.day %> 
                                                <%= mois %>  à <%= t.dateinvitation.hour  %> H 
                                                <%= t.dateinvitation.min  %>
                                      </div>  
                                      <div style="text-align:left;font-size:20px;">
                                               
                                                <%= t.adresse  %>
                                      </div>     
                                        
                                     



                         </div>


                          
                             <div class="vignette" >

                                <div >
                                    <a href="http://billetgratuit.herokuapp.com/invitations/<%= t.id %>">
                                   <img src="<%= var %>" alt="arobas" style="width:100%;text-align:left;float:left;margin-right:10px;" />
                                    </a>
                                 </div>
                                  
                                         
                              </div>
                         
                              


                      

                    </div>  
                     
                              
              </div>
                  <!-- Fin Version PC -------------------------------------------------  -->

               


           <% else %>
   
          

           <% end %>  <!--  Fin du if  -->


      <% end %>

 </div>




</div>    <!-- fin div row -->


</div>  <!-- fin div container  -->




            <!-- ------------------------------------------------------------- -->


   </body>
</html>

