<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
    <body>


   <% jour=@invitations.dateinvitation.strftime("%A") %>  

   <% mois=@invitations.dateinvitation.strftime("%B")  %>

<% case jour  %>
 <% when "Monday"  %>
 <%  jour= "Lundi" %> 
 <% when "Tuesday"  %>
 <%  jour= "Mardi" %> 
<% when "Wednesday"  %>
 <%  jour= "Mercredi" %>
  <% when "Thursday"  %>
 <%  jour= "Jeudi" %>
  <% when "Friday"  %>
 <%  jour= "Vendredi" %>
  <% when "Saturday"  %>
 <%  jour= "Samedi" %> 
  <% when "Sunday"  %>
 <%  jour= "Dimanche" %> 
<% else  %>              
 <% puts 'Only single-digit numbers are allowed' %>
 <% end %>

 <% case mois  %>
 <% when "January"  %>
 <%  mois= "Janvier" %> 
 <% when "February"  %>
 <%  mois= "Février" %> 
<% when "March"  %>
 <%  mois= "Mars" %>
  <% when "April"  %>
 <%  mois= "Avril" %>
  <% when "May"  %>
 <%  mois= "Mai" %>
  <% when "June"  %>
 <%  mois= "Juin" %>
  <% when "July"  %>
 <%  mois= "Juillet" %>
  <% when "August"  %>
 <%  mois= "Aout" %>
  <% when "September"  %>
 <%  mois= "Septembre" %>
  <% when "October"  %>
 <%  mois= "Octobre" %>
   <% when "November"  %>
 <%  mois= "Novembre" %>
  <% when "December"  %>
 <%  mois= "Décembre" %>
<% else  %>              
 
 <% end %>

   <h1>Reservations BilletGratuit.com</h1>

   <h4>

    Voici la lister des reservations pour le spectacle :(<%=  @invitations.titre %>)

   Le <%= jour %> 
      <%= @invitations.dateinvitation.day %> 
      <%= mois %>  à <%= @invitations.dateinvitation.hour  %> H 
      <%= @reservations.invitations.min  %>





   </h4> <br>

    <ul>

           <% @invitations.reservations.each do |resa| %>



  


      
      
      <li>  <%= resa.sexe %> <%= resa.author_nom %> <%= resa.author_nom %> Code: <%= resa.code %></li>

       <% end %>

    </ul>


   </body>
</html>

