

 <div class="col-xs-0 col-md-6 col-lg-6 text-center hidden-xs" style="padding-left:130px;padding-right:130px;">

                 <div style="background-color: rgba(255, 255, 255, 0.5);padding:15px;">
            
                      <h2 ><small><font color="black">Se connecter</font></small></h2><br>

                      <%= form_tag author_sessions_path, method: :post do %>

                      <div class="field">
                      <%=  text_field_tag :username, "Email",:style =>'color:grey;width:100%;font-size:22px;' %>
                      
                     </div>

                     <br>
                    
                    <div class="field">
                      
                     <%= password_field_tag :password, nil, placeholder: "Password" ,:style =>'padding:10px;color:grey;width:100%;font-size:22px;', :class => 'couleurnoir'   %>

                    </div>

                     <div style="margin:20px;"> <a href="/pages/contact.html"> Mot de passe oublié?</a> </div>


                      <div style="margin-top:20px;width:100%;"> 
                      	<%= submit_tag  "Se connecter", :class => 'btn btn-default btn-lg',:style =>'width:100%;'  %>
                      </div>
           
                 

                     <% end %>

                     <div style="margin-top:30px;margin-bottom:20px;"> Pas encore membre?</div>
          

                      
                    <div style="margin-top:0px;width:100%;background:grey;"  <a href="#"  class="btn btn-default btn-lg">S'inscrire</a></div>

              </div>

          </div>

          <!--     -------------------------- Mobile -------------------------------------------------------------- -->


            <div class="col-xs-12 text-center hidden-sm hidden-md hidden-lg " >

                 
            
                      <h2 ><small><font color="white">Se connecter</font></small></h2><br>

                      <%= form_tag author_sessions_path, method: :post do %>

                      <div class="field">
                      <%=  text_field_tag :username, "Email",:style =>'padding:5px;color:grey;width:100%;font-size:22px;'  %>
                      
                     </div>

                     <br>
                    
                    <div class="field">
                      
                     <%= password_field_tag :password, nil, placeholder: "Password", :style =>'padding:5px;color:grey;width:100%;font-size:22px;'    %>

                    </div>

                     <div style="margin:20px;color:white;"> Mot de passe oublié? </div>


                      <div style="margin-top:20px;width:100%;"> 
                <%= submit_tag  "Se connecter", :class => 'btn btn-default', :style =>'padding:10px;color:white;width:100%;background:#C71585;font-size:22px;'  %>
                      </div>
           
                 

                     

                     <div style="margin-top:30px;margin-bottom:20px;color:white;"> Pas encore membre?</div>
          

                      
                    <div style="margin-top:0px;width:100%;background:grey;font-size:22px;"  <a href="#"  class="btn btn-default btn-lg">S'inscrire</a></div>
                   <% end %>
             

          </div>




          <!--  -----------------------------------------------------------------------------------------------------  -->
