


<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>


    <meta property="og:title" content="<%= @invitation.titre %>"/>
    <meta property="og:type" content="movie"/>
    <meta property="og:url" content="http://guarded-gorge-6338.herokuapp.com/invitations/<%= @invitation.id %>"/>
    <meta property="og:image" content="<%= @invitation.avatar.url(:medium) %>"/>
    <meta property="og:site_name" content="guarded-gorge-6338.herokuapp"/>
    <meta property="fb:admins" content="USER_ID"/>
    <meta property="og:description" content="<%= @invitation.description %>"/>



  
    <!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css"> -->
    
    <title>Billetgratuit.com</title>


    <!-- Bootstrap core CSS -->
    <!-- <link href="/css/bootstrap.css" rel="stylesheet"> -->


   <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>   

   <!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.css">   -->

<!-- Optional theme -->
<!-- <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css"> -->

<!-- Latest compiled and minified JavaScript -->
<!-- <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script> -->



    <!-- Add custom CSS here -->
   <!--  <link href="/css/business-casual.css" rel="stylesheet">  -->

    <%= javascript_include_tag "application" %>  
  
     

      


 


  </head>


  <!--   <script src="http://code.jquery.com/jquery.min.js"></script>  
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> -->


  
   
  <body>






<% provide(:title, @invitation.titre) %>










<% jour=@invitation.dateinvitation.strftime("%A") %>  

  <% mois=@invitation.dateinvitation.strftime("%B")  %>

<% case jour  %>
 <% when "Monday"  %>
 <%  jour= "Lundi" %> 
 <% when "Tuesday"  %>
 <%  jour= "Mardi" %> 
<% when "Wednesday"  %>
 <%  jour= "Mercredi" %>
  <% when "Thursday"  %>
 <%  jour= "Jeudi" %>
  <% when "Friday"  %>
 <%  jour= "Vendredi" %>
  <% when "Saturday"  %>
 <%  jour= "Samedi" %> 
  <% when "Sunday"  %>
 <%  jour= "Dimanche" %> 
<% else  %>              
 <% puts 'Only single-digit numbers are allowed' %>
 <% end %>

 <% case mois  %>
 <% when "January"  %>
 <%  mois= "Janvier" %> 
 <% when "February"  %>
 <%  mois= "Février" %> 
<% when "March"  %>
 <%  mois= "Mars" %>
  <% when "April"  %>
 <%  mois= "Avril" %>
  <% when "May"  %>
 <%  mois= "Mai" %>
  <% when "June"  %>
 <%  mois= "Juin" %>
  <% when "July"  %>
 <%  mois= "Juillet" %>
  <% when "August"  %>
 <%  mois= "Aout" %>
  <% when "September"  %>
 <%  mois= "Septembre" %>
  <% when "October"  %>
 <%  mois= "Octobre" %>
   <% when "November"  %>
 <%  mois= "Novembre" %>
  <% when "December"  %>
 <%  mois= "Décembre" %>
<% else  %>              
 
 <% end %>


 <% var=@invitation.avatar.url(:medium) %>
<% var[0,23] = "https://s3-eu-west-1.amazonaws.com" %>




 
  


<div class="row" >

  <div   class="col-xs-0 col-md-3 col-lg-3 " > </div>





  <div   class="col-xs-12 col-md-6 col-lg-6  " >

                      <div  class="invitation " style="background:white;">

                           
                           
                    


                            
                          <div class="vignette"><img src="<%= var %>" alt="arobas" style="width:auto;height:300px; border-radius:5px 5px 5px 5px;" /></div>
                            

                            
                             <div align="center">


                               <div class="titre_vignette">  <%=  @invitation.titre %>  </div>
                              <%= jour %>  <%=  @invitation.dateinvitation.day %>  <%= mois %>  à <%=  @invitation.dateinvitation.hour  %> H <%=  @invitation.dateinvitation.min  %>





                             </div>


                         </div>









 <div class="description" ><%= @invitation.description %></div>

 <div class="description" ><%= @invitation.vraiadresse %></div>

 <div class="description" style="text-align:center;" >

  <a href="http://www.facebook.com/sharer.php?u=http://guarded-gorge-6338.herokuapp.com/invitations/<%= @invitation.id %>&t=TITLE"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" alt="Share on Facebook"> <%= image_tag("facebook.png", :alt => "rss feed",:style => "height:50px;width:50px;") %>
   </a>

 </div>

     

    
<a href="https://twitter.com/share?url=http://guarded-gorge-6338.herokuapp.com/invitations/23&via=jet1vite&text=<%= @invitation.description %>"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" alt="Share on Twitter">share </a>

   <a href="http://www.facebook.com/sharer.php?u=http://guarded-gorge-6338.herokuapp.com/invitations/23&t=TITLE"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
   target="_blank" alt="Share on Facebook">share facebook </a>

   <a href="https://plus.google.com/share?url=URLENCODED_URL"
   onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=350,width=480');return false;"
   target="_blank" alt="Share on Google+"> hjghjghj
</a>



 
  

                

                     <% if @invitation.place.to_i > 0  %>

                    <a href="<%=  reservation_path(@invitation.id) %>">
                      <div  class="btn btn-default btn-lg monbouton" style="margin-bottom: 15px;">  Réserver </div>
                    </a>

                     
                    <% else %>
                    <div class="epuise" >
                    Invitations épuisés
                    </div>

                    <% end %>




    </div>  <!-- fin div miliei  -->






<div   class="col-xs-0 col-md-3 col-lg-3 " > </div>


</div>   <!-- fin du row -->


</body>
</html>
   

   
   
 





 










