

<div class="row">
  <div style="background: #e5e5e5;color:black;font-size:22px;margin-top:15px;border-radius:50px 10px;"  class="col-md-12"><%= @invitation.titre  %></div>
  </div>


<% jour=@invitation.dateinvitation.strftime("%A") %>  

  <% mois=@invitation.dateinvitation.strftime("%B")  %>

<% case jour  %>
 <% when "Monday"  %>
 <%  jour= "Lundi" %> 
 <% when "Tuesday"  %>
 <%  jour= "Mardi" %> 
<% when "Wednesday"  %>
 <%  jour= "Mercredi" %>
  <% when "Thursday"  %>
 <%  jour= "Jeudi" %>
  <% when "Friday"  %>
 <%  jour= "Vendredi" %>
  <% when "Saturday"  %>
 <%  jour= "Samedi" %> 
  <% when "Sunday"  %>
 <%  jour= "Dimanche" %> 
<% else  %>              
 <% puts 'Only single-digit numbers are allowed' %>
 <% end %>

 <% case mois  %>
 <% when "January"  %>
 <%  mois= "Janvier" %> 
 <% when "Febuary"  %>
 <%  mois= "Février" %> 
<% when "March"  %>
 <%  mois= "Mars" %>
  <% when "April"  %>
 <%  mois= "Avril" %>
  <% when "May"  %>
 <%  mois= "Mai" %>
  <% when "June"  %>
 <%  mois= "Juin" %>
  <% when "July"  %>
 <%  mois= "Juillet" %>
  <% when "August"  %>
 <%  mois= "Aout" %>
  <% when "September"  %>
 <%  mois= "Septembre" %>
  <% when "October"  %>
 <%  mois= "Octobre" %>
   <% when "November"  %>
 <%  mois= "Novembre" %>
  <% when "December"  %>
 <%  mois= "Décembre" %>
<% else  %>              
 
 <% end %>



<p>
<% var=@invitation.avatar.url %>
<% var[0,23] = "https://s3-eu-west-1.amazonaws.com" %>

</p>

<div class="row">
  
   <div   class="col-md-4" ><img src="<%= var %>" alt="arobas" width="100%"; height="400px" /></div>

    <div  class="col-md-8" > <p style="color:#5E5759">  <%= jour %>  <%= @invitation.dateinvitation.day %>  <%= mois %> <%= @invitation.dateinvitation.year  %> à <%= @invitation.dateinvitation.hour  %> H <%= @invitation.dateinvitation.min  %></p>
    	<p style="color:#5E5759"> <%= @invitation.adresse %>  </p>
    	 <p> <%= @invitation.description %>  </p>
    </div>
  </div>










