








<% provide(:title, @invitation.titre) %>







<% jour=@invitation.dateinvitation.strftime("%A") %>  

  <% mois=@invitation.dateinvitation.strftime("%B")  %>

<% case jour  %>
 <% when "Monday"  %>
 <%  jour= "Lundi" %> 
 <% when "Tuesday"  %>
 <%  jour= "Mardi" %> 
<% when "Wednesday"  %>
 <%  jour= "Mercredi" %>
  <% when "Thursday"  %>
 <%  jour= "Jeudi" %>
  <% when "Friday"  %>
 <%  jour= "Vendredi" %>
  <% when "Saturday"  %>
 <%  jour= "Samedi" %> 
  <% when "Sunday"  %>
 <%  jour= "Dimanche" %> 
<% else  %>              
 <% puts 'Only single-digit numbers are allowed' %>
 <% end %>

 <% case mois  %>
 <% when "January"  %>
 <%  mois= "Janvier" %> 
 <% when "February"  %>
 <%  mois= "Février" %> 
<% when "March"  %>
 <%  mois= "Mars" %>
  <% when "April"  %>
 <%  mois= "Avril" %>
  <% when "May"  %>
 <%  mois= "Mai" %>
  <% when "June"  %>
 <%  mois= "Juin" %>
  <% when "July"  %>
 <%  mois= "Juillet" %>
  <% when "August"  %>
 <%  mois= "Aout" %>
  <% when "September"  %>
 <%  mois= "Septembre" %>
  <% when "October"  %>
 <%  mois= "Octobre" %>
   <% when "November"  %>
 <%  mois= "Novembre" %>
  <% when "December"  %>
 <%  mois= "Décembre" %>
<% else  %>              
 
 <% end %>


 <% var=@invitation.avatar.url %>
<% var[0,23] = "https://s3-eu-west-1.amazonaws.com" %>




 
  


<div class="row" >

  <div   class="col-xs-0 col-md-3 col-lg-3 " > </div>

  <div   class="col-xs-12 col-md-6 col-lg-6  " >

   <div class="invitation3"  >

    <div class="date_vignette2">  <%= jour %>  <%= @invitation.dateinvitation.day %>  <%= mois %>  à <%= @invitation.dateinvitation.hour  %> H <%= @invitation.dateinvitation.min  %>
    </div>

     <div class="date_vignette2"><%= @invitation.adresse %></div>

     


  
   <div class="vignette hidden-xs"><img src="<%= var %>" alt="arobas" style="width:auto;height:500px;" /></div>


   <!--  ------------------------  Mobile  --------------------------------------------  -->


   <div class="vignette hidden-sm hidden-md hidden-lg "><img src="<%= var %>" alt="arobas" style="width:auto;height:210px;" /></div>
  
   



   <!-- --------------------------------------------------------------------------------  -->
  

 

</div>  <!--  fin div invitation  -->


 <div class="description" ><%= @invitation.description %></div>

<a href="<%=  reservation_path(@invitation.id) %>">
  <div  class="btn btn-default btn-lg monbouton" style="margin-bottom: 15px;
">  Réserver </div>
</a>

</div>






<div   class="col-xs-0 col-md-3 col-lg-3 " > </div>


</div> 
   

   
   
 





 










