<h1>Finalisation </h1>




<%= @invitation.id %>  <br>


<%= @multi.datex %> <br>

<%= @multi.placex %>





<%= form_for [ @reservation ] do |f| %>
  <div style="margin-bottom:20px;font-size:24px;color:black">
  <%= @invitation.titre %> <%= @aleatoir %>
  </div>

  

   

   
   
   <input  type="hidden" value="<%=   @invitation.titre  %>" name="titre">
   <input  type="hidden" value="<%=   @multi.datex  %>" name="dateinvitation">
   <input  type="hidden" value="<%=   @invitation.adresse  %>" name="adresse">
   <input  type="hidden" value="<%=   @invitation.vraiadresse  %>" name="vraiadresse">
   
   <input  type="hidden" value="<%=   @invitation.id  %>" name="idinvitation">
   <input  type="hidden" value="<%=   @invitation.emailpartenaire  %>" name="emailpartenaire">

    <input  type="hidden" value="<%=   @multi.id  %>" name="idmulti">
  
  
  
  
 
  <div style="margin-bottom:20px;font-size:20px;">
  <div style="margin-bottom:15px;text-align:left;"> Nombre de places </div>

  <% if @multi.placex.to_i > 1  %>

  <%= f.select :nombreinvitations, [['1',1], 2] ,:style =>'text-align:center;width:100%;'  %>
  <% else  %>

  <%= f.select :nombreinvitations, [['1(Derniere place)',1]] ,:class =>'grandbouton'  %>
  <%end %>

  </div>

 


  <div style="font-size:22px;color:blue;">
    <%= f.submit 'Commander',:class=>'btn btn-default btn-lg monbouton' %>
  </div>

  <% end %>
                         
