<% provide(:title, "Réservation") %>



<div class="row" style="background:#e5e5e5;text-align:left;">
  
   <div   class="col-xs-3"  > Date </div>
   <div   class="col-xs-3" > Titre </div>
   <div   class="col-xs-2" > Nom   </div>
   <div   class="col-xs-2" > Code  </div>
   <div   class="col-xs-2" > Places </div>

</div>

<% @reservations.each do |t| %>

<div class="row" style="text-align:left;clear: both;">
  
  
   <div   class="col-xs-3" style="border-top: solid 1px grey;" > <%= t.dateinvitation.day %>/<%= t.dateinvitation.month %> (<%= t.dateinvitation.hour %>h<%= t.dateinvitation.min %>) </div>
   <div   class="col-xs-3"  style="border-top: solid 1px grey;clear: both;"> <%= t.titre %>  </div>
   <div   class="col-xs-2" style="border-top: solid 1px grey;overflow:hidden;"> <%= t.author_nom %> </div>
   <div   class="col-xs-2" style="border-top: solid 1px grey;" > <%= t.code %> </div>
   <div   class="col-xs-2" style="border-top: solid 1px grey;"> <%= t.nombreinvitations %> </div>
   
     

 </div>

<%  end  %>

