<% provide(:title, "Réservation") %>



<div class="row" style="background:#e5e5e5;text-align:left;



">
  
   <div   class="col-xs-3" style="background:#e5e5e5" > Date </div>
   <div   class="col-xs-3" > Titre </div>
   <div   class="col-xs-2" > Nom   </div>
   <div   class="col-xs-2" > Code  </div>
   <div   class="col-xs-2" > Places </div>



<% @reservations.each do |t| %>

<div class="row">
  
  
   <div   class="col-xs-3" > <%= t.dateinvitation %> </div>
   <div   class="col-xs-3" > <%= t.titre %>  </div>
   <div   class="col-xs-2" > <%= t.id %> </div>
   <div   class="col-xs-2" > <%= t.id %> </div>
   <div   class="col-xs-2" > <%= t.nombreinvitations %> </div>
   
     

 </div>

<%  end  %>

