<% provide(:title, "Réservation de votre spéctacle") %>

<div class="row" >
  <div  class="col-md-3"></div>

  <div  class="col-md-6" style="background:#e5e5e5;text-align:center;padding:20px;">

<%= form_for [ @reservation ] do |f| %>
  <div style="margin-bottom:20px;font-size:24px;color:black">
  <%= @invitation.titre %> <%= @aleatoir %>
  </div>
  

   

   
   <!-- <%= f.hidden_field :titre, :value => '@invitation.titre' %> -->
   
   <input  type="hidden" value="<%=   @invitation.titre  %>" name="titre">
   <input  type="hidden" value="<%=   @invitation.dateinvitation  %>" name="dateinvitation">
   <input  type="hidden" value="<%=   @invitation.adresse  %>" name="adresse">
   <input  type="hidden" value="<%=   @invitation.place  %>" name="place">
   <input  type="hidden" value="<%=   @invitation.id  %>" name="idinvitation">
  
  
  
 <div style="margin-bottom:20px;font-size:20px;">
  <div style="margin-bottom:15px;"> Nombre de places</div>
  <%= f.select :nombreinvitations, [['1',1], 2] ,:style =>'text-align:center;'  %>
  </div>
  <div style="font-size:22px;color:blue;">
    <%= f.submit 'Commander' %>
  </div>
<% end %>
</div>  

  <div  class="col-md-3"></div>


</div> <!-- fin du div row -->


