<% provide(:title, "Réservation de votre spéctacle") %>



<div class="row" >
  <div  class="col-xs-0 col-md-2 col-lg-2"></div>

  <div  class="col-xs-12 col-md-8 col-lg-8" style="text-align:center;padding:20px;">

<%= form_for [ @reservation ] do |f| %>
  <h4>
  <%= @invitation.titre %> 
  </h4>

  

   

    <div style="margin-bottom:15px;text-align:center;font-size:20px;">Choisir une date </div> <br>
 
    <% @multidate.each do |t| %>

      <% jour=t.datex.strftime("%A") %>  

  <% mois=t.datex.strftime("%B")  %>

<% case jour  %>
 <% when "Monday"  %>
 <%  jour= "Lundi" %> 
 <% when "Tuesday"  %>
 <%  jour= "Mardi" %> 
<% when "Wednesday"  %>
 <%  jour= "Mercredi" %>
  <% when "Thursday"  %>
 <%  jour= "Jeudi" %>
  <% when "Friday"  %>
 <%  jour= "Vendredi" %>
  <% when "Saturday"  %>
 <%  jour= "Samedi" %> 
  <% when "Sunday"  %>
 <%  jour= "Dimanche" %> 
<% else  %>              
 <% puts 'Only single-digit numbers are allowed' %>
 <% end %>

 <% case mois  %>
 <% when "January"  %>
 <%  mois= "Janvier" %> 
 <% when "February"  %>
 <%  mois= "Février" %> 
<% when "March"  %>
 <%  mois= "Mars" %>
  <% when "April"  %>
 <%  mois= "Avril" %>
  <% when "May"  %>
 <%  mois= "Mai" %>
  <% when "June"  %>
 <%  mois= "Juin" %>
  <% when "July"  %>
 <%  mois= "Juillet" %>
  <% when "August"  %>
 <%  mois= "Aout" %>
  <% when "September"  %>
 <%  mois= "Septembre" %>
  <% when "October"  %>
 <%  mois= "Octobre" %>
   <% when "November"  %>
 <%  mois= "Novembre" %>
  <% when "December"  %>
 <%  mois= "Décembre" %>
<% else  %>              
 
 <% end %>

<% if t.placex.to_i > 0 && Invitation.late(t.datex)  %>

<ul>
 <li><h4 style="text-align:left;"> 
  <a href="/reservations/finalisation?idmulti=<%= t.id %>&id=<%= @invitation.id %>&gratuit=<%= t.gratuit %>">

  <%= jour %> 
  <%= t.datex.day %> 
  <%= mois %>  à <%= t.datex.hour  %> H 
  <%= t.datex.min  %>



 </a> </h4></li>
</ul>
<% if current_user.id==3 %>
<% if t.gratuit %>

<h5 style="text-align:left;">(Invitation) Places restante:<font color="red"><%= t.placex %></font>  <%= link_to 'Supprimer', reservation_path(t), method: :delete, data: { confirm: 'Are you sure?' } %> 
</h5>
<% else %>

<h5 style="text-align:left;">Tarif préferentiel  Places restante:<font color="red"><%= t.placex %></font> <%= link_to 'Supprimer', reservation_path(t), method: :delete, data: { confirm: 'Are you sure?' } %></h5>
<% end %>
<% end %>

<% end %>
                                      
   <% end %>                                   
             
  

<% end %>
</div>  

  <div  class="col-xs-0 col-md-2 col-lg-2"></div>


</div> <!-- fin du div row -->


