<% provide(:title, "Se connecter") %>

<div class="row"  >
  <div  class="col-xs-0  col-md-4 col-ls-4" ></div>


<!-- --------------------  Partie PC --------------------------------------------  -->

  <div  class="col-xs-12 col-md-4 col-ls-4  hidden-xs" >

<div align="center">   
<%= form_tag author_sessions_path, method: :post do %>
  <div class="field">
    <%= label_tag :Email %> <br>
    <%= text_field_tag :username %>
    <br/>
  </div>
  <div class="field">
    <%= label_tag :password %> <br>
    <%= password_field_tag :password %>
    <br/>
  </div>
  <div class="actions" style="margin-top:20px;font-size:20px;">
    <%= submit_tag "Connexion" %>
  </div>
<% end %>
</div>
</div>
<!-- ------------------------------------------------------------------------------------------- -->

<!-- --------------------  Partie Mobile --------------------------------------------  -->

  <div  class="col-xs-12 col-md-4 col-ls-4  hidden-md hidden-lg" >
<div align="center">   
<%= form_tag author_sessions_path, method: :post  do %>
  <div class="field" style="color:white;">
    <%= label_tag :Email %> <br>
    <%= text_field_tag :username %>
    <br/>
  </div>
  <div class="field" style="color:white;">
    <%= label_tag :password %> <br>
    <%= password_field_tag :password %>
    <br/>
  </div>
  <div class="actions" style="margin-top:20px;font-size:20px;">
    <%= submit_tag "Connexion" %>
  </div>
<% end %>
</div>
</div>
<!-- ------------------------------------------------------------------------------------------- -->


<div  class="col-xs-0  col-md-4 col-ls-4" ></div>
</div>



