





<% provide(:title, "Invitations Gratuites") %>
 



<div class="row" style="background:rgb(237, 239, 244);margin-bottom:15px;height:600px;overflow:hidden;">
   <div  class="col-xs-12 col-sm-12 col-md-6 col-lg-6 fondgris hidden-xs" style="padding:10px;"  >
    
          <!-- ----------------  Carousel ----------------------------------------------------  -->


<div align="center">

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" >

    <div class="item active">
      <img src="https://s3-eu-west-1.amazonaws.com/julienwat75/tunes/original/68/vz-0ad9faed-052c-40a4-b462-15f3567896ec.jpeg?1391200392"  style="border-radius:5px 5px 5px 5px;" >
      <div class="carousel-caption">


        
      </div>

       <div style="background:white;width:100%;">Tony Montana</div>
    
    
    </div>
    <div class="item ">
      <img src="https://s3-eu-west-1.amazonaws.com/julienwat75/tunes/original/69/vz-68cc2beb-44b9-4428-8c76-d274bcbff533.jpeg?1391200516"  style="border-radius:5px 5px 5px 5px;" >
      <div class="carousel-caption">


        
      </div>

      <div style="background:white;width:100%;">Tony Montana</div>
    
    </div>
    
</div>



  <!-- Controls -->
  
</div>

</div>

</div>
 


<!-- ------------------------------------------------------------------------------------   -->

<div  class="col-xs-12 col-sm-12 col-md-6 col-lg-6 fondgris hidden-xs"  style="padding:10px;" >


   <div style="width:100%;background:white;">
                     <div align="left">
                    <div class="fb-like-box" data-href="http://www.facebook.com/FacebookDevelopers" data-colorscheme="light" data-show-faces="true" data-header="true" data-stream="false" data-show-border="true" data-width="300"></div>
                     </div>
                   </div> 

                   <div style="width:100%;background:white;">
                     <div align="left">
                   
                     </div>
                   </div> 






   </div>

   <!-- ------------------------------------  -->



</div>

        

<div class="row "  >



 
 <div class="montitre hidden-xs">  A l'affiche </div>


         

        
        <% @invitations2.each do |t| %>

           <% if t.validation && Invitation.late(t.dateinvitation) %>


        <!--  switch et variable --> 

        <% jour=t.dateinvitation.strftime("%A") %>  

  <% mois=t.dateinvitation.strftime("%B")  %>

<% case jour  %>
 <% when "Monday"  %>
 <%  jour= "Lundi" %> 
 <% when "Tuesday"  %>
 <%  jour= "Mardi" %> 
<% when "Wednesday"  %>
 <%  jour= "Mercredi" %>
  <% when "Thursday"  %>
 <%  jour= "Jeudi" %>
  <% when "Friday"  %>
 <%  jour= "Vendredi" %>
  <% when "Saturday"  %>
 <%  jour= "Samedi" %> 
  <% when "Sunday"  %>
 <%  jour= "Dimanche" %> 
<% else  %>              
 <% puts 'Only single-digit numbers are allowed' %>
 <% end %>

 <% case mois  %>
 <% when "January"  %>
 <%  mois= "Janvier" %> 
 <% when "February"  %>
 <%  mois= "Février" %> 
<% when "March"  %>
 <%  mois= "Mars" %>
  <% when "April"  %>
 <%  mois= "Avril" %>
  <% when "May"  %>
 <%  mois= "Mai" %>
  <% when "June"  %>
 <%  mois= "Juin" %>
  <% when "July"  %>
 <%  mois= "Juillet" %>
  <% when "August"  %>
 <%  mois= "Aout" %>
  <% when "September"  %>
 <%  mois= "Septembre" %>
  <% when "October"  %>
 <%  mois= "Octobre" %>
   <% when "November"  %>
 <%  mois= "Novembre" %>
  <% when "December"  %>
 <%  mois= "Décembre" %>
<% else  %>              
 
 <% end %>


<% var=t.avatar.url %>

<% var[0,23] = "https://s3-eu-west-1.amazonaws.com" %>

<% resume=t.description %>
<% resume=resume[0...200]%>

 

   


        <!--  fin switch et variable -->

          

      
             <!--  -------------------------------- Invitations ---------------------------- --> 
               <div  class="col-xs-12 col-sm-12 col-md-6 col-lg-6 fondgris hidden-xs"   >  <!-- debut premier div ---- -->
                  <div align="center">
                <!--  Version PC ------------------------------------------------------------------ -->
                     <div  class="invitation " style=" border:1px solid rgba(0, 0, 0, 0.2);text-align:left; border-radius:5px 5px 0px 0px;height:600px;" >
                         <div> 
                                   <a href="<%=  invitation_path(t.id) %>">  
                                   <div class="titre_vignette" style="font-family: Helvetica Neue,Arial,sans-serif;padding-left:10px;color:rgb(59, 89, 152);background:white;"> 
                                      <%=  t.titre %> 

                                                
                                    </div>
                                  </a>
                                    <div style="padding-left:10px;">
                                                <%= jour %> 
                                                <%= t.dateinvitation.day %> 
                                                <%= mois %>  à <%= t.dateinvitation.hour  %> H 
                                                <%= t.dateinvitation.min  %>
                                      </div>          



                         </div>


                          <a href="<%=  invitation_path(t.id) %>">
                             <div class="vignette" >

                                <div >
                                    <a href="<%=  invitation_path(t.id) %>">
                                   <img src="<%= var %>" alt="arobas" style="width:100%;text-align:left;float:left;margin-right:10px;" />
                                 </div>
                                   </a>
                                         
                              </div>
                         
                              


                      </div>

                    </div>  
                      <div class="piedpage">  <%= t.adresse %> </div> 

                              
              </div>
                  <!-- Fin Version PC -------------------------------------------------  -->

                <!--  Version Mobile -->  
                <div  class="invitation hidden-sm hidden-md hidden-lg" style="background:white; border:1px solid rgba(0, 0, 0, 0.2);border-radius:15px 15px 0px 0px;margin-bottom:15px;">
                        <a href="<%=  invitation_path(t.id) %>">
                          <div >
                            <img src="<%= var %>" alt="arobas" style="width:100%;border-radius:15px 15px 0px 0px;" />
                          </div>
                        </a>
                       <div align="center">
                           <div class="titre_vignette" style="font-family:Helvetica Neue,Arial,sans-serif;">  <%=  t.titre %>  </div>
                           <%= jour %> 
                           <%= t.dateinvitation.day %> 
                           <%= mois %>  à <%= t.dateinvitation.hour  %> H <%= t.dateinvitation.min  %>
                           </div>
                   </div>
                     <!--  Fin version Mobile -->



           <% else %>
   
           <% t.update_attributes(validation: 'false') %>

           <% end %>  <!--  Fin du if  -->


      <% end %>

 </div>






<script type="text/javascript">
$('.carousel').carousel()

</script>


<!-- ---------------------------  Paging ---------------------------------- -->


 <div class="row" >


                  <div  class="col-xs-0 col-md-4 col-lg-4"></div> 
                         <div  class="col-xs-12 col-md-4 col-lg-4" style="margin-top:20px;color:white;font-size:20px;align:center;">


                                    <% page=0  %>


                                    <ul class="pagination">


                                  <% while page< @nombre_pages %>



                                   <li><a href="/pageinvitations/<%= page %>"><%= page+1 %></a></li>


                                     


                                   <% page+=1 %>

                                     <% end %>

                                     </ul>

                            </div>

                   <div  class="col-xs-0 col-md-4 col-lg-4"></div> 

    


      </div>   <!-- Fin du row  -->







<!-- Fin du paging -->


















  