




<% provide(:title, "Invitations gratuites") %>

 




<% if @user && @user.id == 3  %>

<div class="row">
  <div  class="col-xs-0 col-md-4"></div>
  <div  class="col-xs-12 col-md-4 " >
 <a href="<%=  new_invitation_path  %>">   
<div  class="btn btn-default btn-lg monbouton" style="text-decoration:none;margin-bottom:40px;align:center;">
 Ajouter une invitation 
</div>
</a>
</div>
 <div  class="col-xs-0 col-md-4  col-lg-4"></div>
</div>
<% end %>

<div class="row">
<% @invitations2.each do |t| %>

<% if t.validation && Invitation.late(t.dateinvitation) %>


 <% jour=t.dateinvitation.strftime("%A") %>  

  <% mois=t.dateinvitation.strftime("%B")  %>

<% case jour  %>
 <% when "Monday"  %>
 <%  jour= "Lundi" %> 
 <% when "Tuesday"  %>
 <%  jour= "Mardi" %> 
<% when "Wednesday"  %>
 <%  jour= "Mercredi" %>
  <% when "Thursday"  %>
 <%  jour= "Jeudi" %>
  <% when "Friday"  %>
 <%  jour= "Vendredi" %>
  <% when "Saturday"  %>
 <%  jour= "Samedi" %> 
  <% when "Sunday"  %>
 <%  jour= "Dimanche" %> 
<% else  %>              
 <% puts 'Only single-digit numbers are allowed' %>
 <% end %>

 <% case mois  %>
 <% when "January"  %>
 <%  mois= "Janvier" %> 
 <% when "February"  %>
 <%  mois= "Février" %> 
<% when "March"  %>
 <%  mois= "Mars" %>
  <% when "April"  %>
 <%  mois= "Avril" %>
  <% when "May"  %>
 <%  mois= "Mai" %>
  <% when "June"  %>
 <%  mois= "Juin" %>
  <% when "July"  %>
 <%  mois= "Juillet" %>
  <% when "August"  %>
 <%  mois= "Aout" %>
  <% when "September"  %>
 <%  mois= "Septembre" %>
  <% when "October"  %>
 <%  mois= "Octobre" %>
   <% when "November"  %>
 <%  mois= "Novembre" %>
  <% when "December"  %>
 <%  mois= "Décembre" %>
<% else  %>              
 
 <% end %>

<% var=t.avatar.url %>
<% var[0,23] = "https://s3-eu-west-1.amazonaws.com" %>



 

   

<div  class="col-xs-12 col-md-3 col-lg-3  hidden-xs" style="height:400px;padding-left:25px !important;padding-right:25px !important;">

  <div class="row" >






<div   class="col-xs-12 col-md-4 col-lg-4 horizontal " style="width:100%;">

    <div  class="invitation">

         <div style="font-size:16px;margin-top:5px;margin-left:5px;">  <%= jour %>  <%= t.dateinvitation.day %>  <%= mois %>  à <%= t.dateinvitation.hour  %> H <%= t.dateinvitation.min  %>
         </div>

          <div style="font-size:14px;margin-left:5px;"><%= t.adresse %></div>

  


          <a href="<%=  invitation_path(t.id) %>">
          <div class="vignette"><img src="<%= var %>" alt="arobas" style="width:100%;height:300px" /></div>
          </a>

    </div>

</div>





</div> 
   
</div>




<!--  ----------------------------------------------------------------------------------------------------------   -->

<div  class="col-xs-12 col-md-4 col-lg-4 hidden-md hidden-lg " style="height:450px;padding-left:15px !important;padding-right:15px !important;background:rgb(60,60,60);">

  <div class="row" >






<div   class="col-xs-12 col-md-4 col-lg-4 horizontal " style="width:100%;background:rgb(60,60,60);">

    <div  class="invitation" style="background:white;border-radius:5px 5px 0px 0px;">

         <div style="font-size:16px;margin-top:5px;margin-left:5px;">  <%= jour %>  <%= t.dateinvitation.day %>  <%= mois %>  à <%= t.dateinvitation.hour  %> H <%= t.dateinvitation.min  %>
         </div>

          <div style="font-size:14px;margin-left:5px;"><%= t.adresse %></div>

  


          <a href="<%=  invitation_path(t.id) %>">
          <div class="vignette"><img src="<%= var %>" alt="arobas" style="width:100%;height:350px" /></div>
          </a>

    </div>

</div>





</div> 
   
</div>



<!--  ------------------------------------------------------------------------------------------------------------   -->


   
 

  





 

    
  
    


   <% else %>
   
   <% t.update_attributes(validation: 'false') %>

   <% end %>

<%  end  %>
</div>
<div>

  <div class="row" >
    <div  class="col-xs-0 col-md-4 col-lg-4"></div> 
  <div  class="col-xs-12 col-md-4 col-lg-4" style="margin-top:20px;color:white;font-size:20px;align:center;">


  <% page=0  %>


<% while page< @nombre_pages %>



 


  <div class="changepage"> <a href="/pageinvitations/<%= page %>" style="color:black">  <%= page+1 %> </a></div>

   


 <% page+=1 %>
 <% end %>

<div  class="col-xs-0 col-md-4 col-lg-4"></div> 

</div>


</div>  
</div>




<!--   ------------------------------------------------------ mon js ------------------------------------  -->


<div id="foo" title="Dialog title">Dialog text</div>


<script>
 $('#foo').dialog({
    buttons: {
        Yes: function() { $(this).dialog('close'); },
        No: function() { $(this).dialog('close'); }
    },
    width: 700, maxHeight: 400
});
</script>









             
           <!--  <ul class="pager" style="float:right;">  -->
             
             <!-- <li class="previous"><a href="/pageinvitations/<%= @page_suivante %>">Page suivante &rarr;</a></li> -->
           <!--   </ul> -->
            







