
<% provide(:title, "Invitations gratuites") %>
<div  class="btn btn-default btn-lg" style="text-decoration:none;margin-bottom:40px;">
<%= link_to "Ajouter une proposition", new_invitation_path  %>
</div>


<% @invitations2.each do |t| %>

<% if t.validation  %>


<div class="row">
  <div style="background:#e5e5e5;color:black;font-size:22px;margin-top:15px;border-radius:50px 10px;"  class="col-md-12"><%= t.titre  %></div>
  </div>
  
<p>
<% var=t.avatar.url %>
<% var[0,23] = "https://s3-eu-west-1.amazonaws.com" %>
</p>


<div class="row" >
  <div  class="col-md-3"><img src="<%= var %>" alt="arobas" style="width:184px; height:184px;" />
</div>
  <div style="padding-top:30px;font-size:16px;" class="col-md-6"><p> 

  <% jour=t.dateinvitation.strftime("%A") %>  

  <% mois=t.dateinvitation.strftime("%B")  %>

<% case jour  %>
 <% when "Monday"  %>
 <%  jour= "Lundi" %> 
 <% when "Tuesday"  %>
 <%  jour= "Mardi" %> 
<% when "Wednesday"  %>
 <%  jour= "Mercredi" %>
  <% when "Thursday"  %>
 <%  jour= "Jeudi" %>
  <% when "Friday"  %>
 <%  jour= "Vendredi" %>
  <% when "Saturday"  %>
 <%  jour= "Samedi" %> 
  <% when "Sunday"  %>
 <%  jour= "Dimanche" %> 
<% else  %>              
 <% puts 'Only single-digit numbers are allowed' %>
 <% end %>

 <% case mois  %>
 <% when "January"  %>
 <%  mois= "Janvier" %> 
 <% when "Febuary"  %>
 <%  mois= "Février" %> 
<% when "March"  %>
 <%  mois= "Mars" %>
  <% when "April"  %>
 <%  mois= "Avril" %>
  <% when "May"  %>
 <%  mois= "Mai" %>
  <% when "June"  %>
 <%  mois= "Juin" %>
  <% when "July"  %>
 <%  mois= "Juillet" %>
  <% when "August"  %>
 <%  mois= "Aout" %>
  <% when "September"  %>
 <%  mois= "Septembre" %>
  <% when "October"  %>
 <%  mois= "Octobre" %>
   <% when "November"  %>
 <%  mois= "Novembre" %>
  <% when "December"  %>
 <%  mois= "Décembre" %>
<% else  %>              
 
 <% end %>
   
   
  

<p style="color:#5E5759" >  <%= jour %>  <%= t.dateinvitation.day %>  <%= mois %>  à <%= t.dateinvitation.hour  %> H <%= t.dateinvitation.min  %>

</p>
 <p> <%= t.adresse %></p>
</div>
  <div  style="padding-top:50px;"class="col-md-3"> 


     <div  class="btn btn-default btn-lg" style="">
     <%= link_to "Détails", t  %>
     </div>
 
  
     <div  class="btn btn-default btn-lg" style="margin-left:20px">
      <%= link_to "Réserver", reservation_path(t.id)   %>
     </div>

  </div>


</div>


   <% end  %>

<%  end  %>

<div>

  <div class="row" >
  <div  class="col-md-12" style="background:#e5e5e5;margin-top:20px;color:white;font-size:20px;">


  <% page=0  %>


<% while page<10 %>



 
<a href="/pageinvitations/<%= page %>" style="color:black">  <%= page+1 %> </a> 


 <% page+=1 %>
 <% end %>
</div>
</div>  




</div>
 






