




<% provide(:title, "Invitations gratuites") %>

 
<!--  <INPUT type="button" value="Cliquez ici" onclick="afficher()">  -->








<% if @user && @user.id == 3  %>   <!--   Bouton webmaster -->  

<div class="row">
  <div  class="col-xs-0 col-md-4"></div>
  <div  class="col-xs-12 col-md-4 " >
 <a href="<%=  new_invitation_path  %>">   
<div  class="btn btn-default btn-lg monbouton" style="text-decoration:none;margin-bottom:40px;align:center;">
 Ajouter une invitation 
</div>
</a>
</div>
 <div  class="col-xs-0 col-md-4  col-lg-4"></div>
</div>
<% end %>




<!-- --------------------------------------------------------------------------------------------------  -->



<div class="row">
<% @invitations2.each do |t| %>

<% if t.validation && Invitation.late(t.dateinvitation) %>


 <% jour=t.dateinvitation.strftime("%A") %>  

  <% mois=t.dateinvitation.strftime("%B")  %>

<% case jour  %>
 <% when "Monday"  %>
 <%  jour= "Lundi" %> 
 <% when "Tuesday"  %>
 <%  jour= "Mardi" %> 
<% when "Wednesday"  %>
 <%  jour= "Mercredi" %>
  <% when "Thursday"  %>
 <%  jour= "Jeudi" %>
  <% when "Friday"  %>
 <%  jour= "Vendredi" %>
  <% when "Saturday"  %>
 <%  jour= "Samedi" %> 
  <% when "Sunday"  %>
 <%  jour= "Dimanche" %> 
<% else  %>              
 <% puts 'Only single-digit numbers are allowed' %>
 <% end %>

 <% case mois  %>
 <% when "January"  %>
 <%  mois= "Janvier" %> 
 <% when "February"  %>
 <%  mois= "Février" %> 
<% when "March"  %>
 <%  mois= "Mars" %>
  <% when "April"  %>
 <%  mois= "Avril" %>
  <% when "May"  %>
 <%  mois= "Mai" %>
  <% when "June"  %>
 <%  mois= "Juin" %>
  <% when "July"  %>
 <%  mois= "Juillet" %>
  <% when "August"  %>
 <%  mois= "Aout" %>
  <% when "September"  %>
 <%  mois= "Septembre" %>
  <% when "October"  %>
 <%  mois= "Octobre" %>
   <% when "November"  %>
 <%  mois= "Novembre" %>
  <% when "December"  %>
 <%  mois= "Décembre" %>
<% else  %>              
 
 <% end %>


<% var=t.avatar.url(:medium) %>

<% var[0,23] = "https://s3-eu-west-1.amazonaws.com" %>



 

   

<div  class="col-xs-12 col-sm-6 col-md-4 col-lg-4  " style="background:white;">

  <div class="row" >







    <div  class="invitation hidden-xs">

         <div class="titre_vignette">  <%=  t.titre %>  </div>
         <div class="date_vignette"> 
          <%= jour %>  <%= t.dateinvitation.day %>  <%= mois %>  à <%= t.dateinvitation.hour  %> H <%= t.dateinvitation.min  %>
        </div>

         
  


          <a href="<%=  invitation_path(t.id) %>">
          <div class="vignette"><img src="<%= var %>" alt="arobas" style="width:auto;height:300px;" /></div>
          </a>

           <div class="adresse_vignette"><%= t.adresse %></div>


    </div>


    <!--   ------------------- Version mobile ---------------------------------------------------      -->


      <div  class="invitation2 hidden-sm hidden-md hidden-lg ">

         <div class="titre_vignette2">  <%=  t.titre %>  </div>
         <div class="date_vignette2"> 
          <%= jour %>  <%= t.dateinvitation.day %>  <%= mois %>  à <%= t.dateinvitation.hour  %> H <%= t.dateinvitation.min  %>
        </div>

         
  


          <a href="<%=  invitation_path(t.id) %>">
          <div class="vignette"><img src="<%= var %>" alt="arobas" style="width:auto;height:220px;" /></div>
          </a>

           <div class="adresse_vignette2"><%= t.adresse %></div>


    </div>






    <!-- ---------------------------------------------------------------------------------------------   -->







</div> 
   
</div>





   
 

  





 

    
  
    


   <% else %>
   
   <% t.update_attributes(validation: 'false') %>

   <% end %>


   

<%  end  %>






</div>
<div>









  <div class="row" >
    <div  class="col-xs-0 col-md-4 col-lg-4"></div> 
  <div  class="col-xs-12 col-md-4 col-lg-4" style="margin-top:20px;color:white;font-size:20px;align:center;">


  <% page=0  %>


<% while page< @nombre_pages %>



 


  <div class="changepage"> <a href="/pageinvitations/<%= page %>" style="color:black">  <%= page+1 %> </a></div>

   


 <% page+=1 %>
 <% end %>

<div  class="col-xs-0 col-md-4 col-lg-4"></div> 

</div>


</div>  
</div>




