<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css"> -->
    <title>Billetgratuit.com</title>


    <!-- Bootstrap core CSS -->
    <!-- <link href="/css/bootstrap.css" rel="stylesheet"> -->


   <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %> 


    <!-- Add custom CSS here -->
   <!--  <link href="/css/business-casual.css" rel="stylesheet">  -->

    <%= javascript_include_tag "application" %>  
  
     

      


 


  </head>


  <!--   <script src="http://code.jquery.com/jquery.min.js"></script>  
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> -->


  
   
  <body>

    

    <div class="brand" style="color:white;font-style: oblique;font-weight: bold;font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;">Billet<font style="font-weight: 200;color:white;">Gratuit</font><font color="white">.com</font></div>
    <div class="address-bar">Invitations gratuites au théatres</div>

    <nav class="navbar navbar-default hidden-xs" style="background:rgba(255, 255, 255, 0.5);" role="navigation">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="font-style: oblique;font-weight: bold;font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;" href="index.html"><font color="white">Billet</font><font style="font-weight: 200;color:white;">gratuit</font><font color="white">.com</font></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" style="color:white;">
          <ul class="nav navbar-nav" >
            <li><%= link_to "Invitations", pageinvitations_path,:class => 'couleurblanche' %></li>

           <% unless logged_in? %>
            <li><%= link_to "Inscription", new_author_path,:class => 'couleurblanche' %></li>
            <% end %>

            <li><a href="contact.html">Contact</a></li>
             
            
          
           <% if logged_in? %>
         <li><a href="<%= author_path(current_user.id) %>"><%= current_user.email %></a></li>
         
        <!-- <li><%= link_to "(logout)", logout_path %> </li>  -->
         <!--  <li> jkjkljkljl</li>  -->
        <% else %>
         <li> <%= link_to "Connexion", login_path %>  </li>
          <% end %>

            <% if logged_in? %>
          <li> <%= link_to "Déconnexion", logout_path %>  </li>
        <% end %>
          </ul>
          
          
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>

    <!-- ----------------------------------  Version mobile ----------------------------------------------- -->

     
    <nav class="navbar navbar-default hidden-lg hidden-md" style="background:black;font-size:23px;" role="navigation">
      <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" style="font-style: oblique;font-weight: bold;font-size:26px;font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;" href="index.html"><font color="white">Billet</font><font style="font-weight: 200;color:white;">gratuit</font><font color="white">.com</font></a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-ex1-collapse" style="color:white;">
          <ul class="nav navbar-nav" >
            <li><%= link_to "Invitations", pageinvitations_path,:class => 'couleurblanche' %></li>

           <% unless logged_in? %>
            <li><%= link_to "Inscription", new_author_path,:class => 'couleurblanche' %></li>
            <% end %>

            <li><a href="contact.html">Contact</a></li>
             
            
          
           <% if logged_in? %>
         <li><a href="<%= author_path(current_user.id) %>"><%= current_user.email %></a></li>
         
        <!-- <li><%= link_to "(logout)", logout_path %> </li>  -->
         <!--  <li> jkjkljkljl</li>  -->
        <% else %>
         <li> <%= link_to "Connexion", login_path %>  </li>
          <% end %>

            <% if logged_in? %>
          <li> <%= link_to "Déconnexion", logout_path %>  </li>
        <% end %>
          </ul>
          
          
          
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container -->
    </nav>



    <!-- ---------------------------------------------------------------------------------------------------- -->

    <div class="container " style="background:white;" >

      <div class="row">
        <div class="box hidden-md hidden-lg" style="background:rgb(60,60,60);">

          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center"><strong><font color="white"><%= yield(:title) %></font></strong></h2>
            <hr>
          </div>
          <div class="col-lg-12 text-left">
            <!-- <img class="img-responsive img-border img-full" src="/img/slide-1.jpg">  -->
            
            <%= yield %>
            
            <hr>
          </div>
          
          
          <div class="col-lg-12 text-center">
            <ul class="pager">
             <li class="previous"> <%= link_to "<  Invitations", pageinvitations_path ,:class => 'couleurnoir'  %> </li>
              
                <% if logged_in? && current_user.id == 3  %>
                <li class="next"> <%= link_to "Filtre Invitations", webmasters_path ,:class => 'couleurnoir'  %> </li>
              <% end %>
              
            </ul>
          </div>
        </div>

<!--  ------------------------------------ Format PC -----------------------------------------------------------  -->


<div class="row">
        <div class="box hidden-xs "   >
          <div class="col-lg-12" >
            <hr>
            <h2 class="intro-text text-center"><strong><%= yield(:title) %></strong></h2>
            <hr>
          </div>
          <div class="col-lg-12 text-left">
            <!-- <img class="img-responsive img-border img-full" src="/img/slide-1.jpg">  -->
            
            <%= yield %>
            
            <hr>
          </div>
          
          
          <div class="col-lg-12 text-center">
            <ul class="pager">
             <li class="previous"> <%= link_to "<  Invitations", pageinvitations_path ,:class => 'couleurnoir'  %> </li>
              
                <% if logged_in? && current_user.id == 3  %>
                <li class="next"> <%= link_to "Filtre Invitations", webmasters_path ,:class => 'couleurnoir'  %> </li>
              <% end %>
              
            </ul>
          </div>
        </div>


<!--  ------------------------------------fin  Format PC -----------------------------------------------------------  -->

      </div>

    </div><!-- /.container -->
     <footer>
      <div class="container" >
        <div class="row" >
          <div class="col-lg-12 text-center">
            <p>Copyright &copy; Billetgratuit.com 2013</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="js/bootstrap.js"></script>

  </body>


   
</html>
