<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.12/themes/base/jquery-ui.css"> -->
    <title>Billetgratuit.com</title>


    <!-- Bootstrap core CSS -->
    <!-- <link href="/css/bootstrap.css" rel="stylesheet"> -->


   <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %> 


    <!-- Add custom CSS here -->
   <!--  <link href="/css/business-casual.css" rel="stylesheet">  -->

    <%= javascript_include_tag "application" %>  
  
     

      


 


  </head>


  <!--   <script src="http://code.jquery.com/jquery.min.js"></script>  
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8/jquery-ui.min.js"></script> -->


  
   
  <body>

    
    
    

    <!-- ---------------------------------- Menue  Version PC ----------------------------------------------- -->

     
   
     
    <nav class="navbar-fixed-top navbar-default " role="navigation" style="background-color: rgb(185, 18, 27);" >
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle"  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
     <a class="navbar-brand"  href="http://billetgratuit.com/pageinvitations.html">Billet<font class="normaltitre">gratuit</font>.com</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="float:left;padding-left:10%;">
    <ul class="nav navbar-nav" >
      <li class="active" style="color:white;font-style: oblique;font-family: ‘Lucida Sans Unicode’, ‘Lucida Grande’, sans-serif;"><a href="http://billetgratuit.com/pageinvitations"><font style="font-weight:bold;">Billet</font>gratuit<font style="font-weight:bold;">.com</font></a></li>
      
      <li> <a href="<%= pageinvitations_path %>"> <i class="fa fa-star-o"></i>  Invtations</a></li>

     



           <% unless logged_in? %>
       
     <li> <a href="<%= new_author_path %>"><i class="fa fa-users"></i></span>Inscription</span> </a></li>
           <% end %>
       <li><a href="contact.html"><i class="fa fa-envelope-o"></i> Contact</a></li>  
       
         

          <% if logged_in? %>
           <li> <a href="<%= logout_path %>"><i class="fa fa-cog"></i> Déconnexion </a></li>
        <% end %>
        

        <% if logged_in? %>
        <li><a href="<%= author_path(current_user.id) %>"><i class="fa fa-user"></i> <%= current_user.email %></a></li>
         
        <!-- <li><%= link_to "(logout)", logout_path %> </li>  -->
         <!--  <li> jkjkljkljl</li>  -->
        <% else %>
         <li> <a href="<%= root_path %>"><i class="fa fa-cog"></i> Connexion </a></li>
          <% end %>

          <% if current_user && current_user.id == 3  %>   <!--   Bouton webmaster -->  

         <li><%= link_to "Créer", new_invitation_path %></li>

          
        <% end %>
          

          
   

     
      
      </li>
    </ul>
    
    
  </div><!-- /.navbar-collapse -->
</nav>






   
    
     
   



    <!-- ----------------------------------------------- Container Format Mobile  -------------------------------- -->

    <div class="container" style="background:white;margin-top:140px;padding-left:15px;"  >

      <div class="row">
        <div class="box  hidden-sm hidden-md hidden-lg" >

          <div class="col-lg-12">
            <hr>
            <h2 class="intro-text text-center " ><strong><%= yield(:title) %></strong></h2>
            <hr>
          </div>
          <div class="col-lg-12 text-left">
            <!-- <img class="img-responsive img-border img-full" src="/img/slide-1.jpg">  -->
            
            <%= yield %>
            
            <hr>
          </div>
          
          
          <div class="col-lg-12 text-center">
            <ul class="pager">
             <li class="previous"> <%= link_to "<  Invitations", pageinvitations_path ,:class => 'couleurnoir'  %> </li>
              
                <% if logged_in? && current_user.id == 3  %>
                <li class="next"> <%= link_to "Filtre Invitations", webmasters_path ,:class => 'couleurnoir'  %> </li>
              <% end %>
              
            </ul>
          </div>
        </div>

<!--  ------------------------------------Container  Format PC -----------------------------------------------------------  -->


<div class="row">
        <div class="box hidden-xs "   >
          <div class="col-lg-12" >
            
          </div>
          <div class="col-lg-12 text-left">


      <div class="row">
      

          <div class="col-lg-12">

               <div class="montitre">  <%= yield(:title) %></div>

          </div>
    </div>
            <!-- <img class="img-responsive img-border img-full" src="/img/slide-1.jpg">  -->
            
            <%= yield %>
            
            <hr>
          </div>
          
          
          <div class="col-lg-12 text-center">
            <ul class="pager">
             <li class="previous"> <%= link_to "<  Invitations", pageinvitations_path ,:class => 'couleurnoir'  %> </li>
              
                <% if logged_in? && current_user.id == 3  %>
                <li class="next"> <%= link_to "Filtre Invitations", webmasters_path ,:class => 'couleurnoir'  %> </li>
              <% end %>
              
            </ul>
          </div>
        </div>


<!--  ------------------------------------fin  Format PC -----------------------------------------------------------  -->

      </div>

    </div><!-- /.container -->
     <footer>
      <div class="container" >
        
        <div class="row" >
          <div class="col-lg-12 text-center">
            <p>Copyright &copy; Billetgratuit.com 2013</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- JavaScript -->
    <script src="js/jquery-1.10.2.js"></script>
    <script src="/js/bootstrap.js"></script>

  </body>


   
</html>
